.header{
  /* transition: transform 0.3s, padding 0.3s;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #FFF;
  box-sizing: border-box;
  z-index: 99;
  border-bottom: 1px solid #EEE; */
}

.header-warp{
  display: flex;
  justify-content: space-between;
}

.header-warp .logo{

}